@page "/restaurants/orders/detail/{Id:guid}"
@namespace DameChales.Web.App.Pages
@layout ListLayout
@using DameChales.Web.App.Resources.Texts
@using DameChales.Common.Models
@using Microsoft.Extensions.Localization
@inherits PageBase
@inject IStringLocalizer<FoodListPageResources> FoodListPageLocalizer


<div class="d-flex flex-row justify-content-between align-items-center mb-4">
    <h1>@FoodListPageLocalizer["Page_Title"]</h1>
</div>

<div class="d-flex flex-wrap">




</div>